
body {
	margin-top: 100px;
	background-color: DeepSkyBlue;
}

input#speed {
	writing-mode: vertical-lr;
	-webkit-appearance: none;
	appearance: none;
	background: white;
	cursor: pointer;
	height: 10rem;
	border: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 10px;
}

input#left_right {
	-webkit-appearance: none;
	appearance: none;
	background: white;
	cursor: pointer;
	width: 15rem;
	border: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 10px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 30px;
	text-align: center;
}

.flex-center {
	display: flex;
	gap: 10px;
	align-items: center;
}

.flex-column {
	display: flex;
	gap: 5px;
	align-items: center;
	flex-direction: column;
}

.checkbox-size {
	width: 30px;
	height: 30px;
}